**/build/*
!**/build/.gitkeep

**/build/*/
!**/build/*/

**/build/*/*
!**/build/*/*.xpr

**/Packages/

**/software/*
**/software/.analytics
**/software/IDE.log
!**/software/*
**/software/*/*
!**/software/*/
**/software/*/src/
!**/software/*/src/